<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FitApp</title>
</head>
<body>
<div>
    <a href="../">home</a>
</div>

<div>
    <br>
    <fieldset style="width: 150px;">
        <legend>Show user progress</legend>
        <form action="">
            <label for="findUser">nick:</label><br>
            <input type="text" id="findUser" name="findUser" value="nick"><br><br>
            <input type="submit" value="Submit">
        </form>
    </fieldset>
</div>
<br>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>nick</th>
        <th>age</th>
<!--        <th>height</th>-->
<!--        <th>weight</th>-->
<!--        <th>activity level</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="pers : ${persons}">
        <td th:text="${pers?.id}"></td>
        <td th:text="${pers?.name}"></td>
        <td th:text="${pers?.age}"></td>
<!--        <td th:text="${pers?.height}"></td>-->
<!--        <td th:text="${pers?.weight}"></td>-->
<!--        <td th:text="${pers?.activityLevel}"></td>-->
    </tr>
    </tbody>
</table>
</div>
</body>
</html>