<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitApp</title>
</head>
<body>
<div>
    <h2>Fit App :-)</h2>
</div>
<div>
    <a href="/user/">show users</a>
</div>
<br>
<fieldset style="width: 150px;">
    <legend>Add new user</legend>
    <form action="">
        <label for="formNick">nick:</label><br>
        <input type="text" id="formNick" name="formNick"><br>
        <label for="ageForm">Last name:</label><br>
        <input type="text" id="ageForm" name="ageForm"><br><br>
        <input type="submit" value="Submit">
    </form>
</fieldset>
</div>
</body>
</html>